.container {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10%;
    flex-direction: column;
}

.formWrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

input{
    width: 250px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
}
input:focus {
    outline: none;
    border-bottom: 3px solid #ccc;
}
select{
    height: 33px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
}
select:focus {
    outline: none;
}
.errorMsg{
    color: red;
    font-size: smaller;
}
button{
    cursor: pointer;
    padding: 10px;
    color: #fff;
    background-color: #337ab7;
    border-radius: 5px;
    border: 0;
}